body {
  background-color: powderblue;
  color: lemonyellow;
}
h1 {
  font-size: large;
  color: magenta;
}
h2 {

  font-size: medium;
  color: darkorange;
}
p {
   color: lemonyellow;

}


button {
  background-color: springgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}